*{
    font-size: 20px;
    font-weight: 200;
}
/*Single product*/
#prodetails {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly


}
#prodetails .single-pro-image {
width: 32%;
margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 30%;
    cursor: pointer;
    padding : 10px 5px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 10px;
}
#prodetails .single-pro-details h4{
    padding: 30px 0 1px 0;
    font-size: 26px;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
    padding-top: 10px;
}
#prodetails .single-pro-details select{
    border: solid 2px;
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 20px;

}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: solid 2px;
    border-radius: 20px;
}
#prodetails .single-pro-details h6{
    font-size: 20px;
}
#prodetails .single-pro-details button{
    margin-bottom: 12px;

}